<% flash.each do |name,msg| %>
	<%= content_tag :div,msg,class: name %>
<% end %>
 <div class="form-group">
<%= form_for([:admin,@comment]) do |form| %>
 <p>
 	<%= form.label :fullname %>
 	<%= form.text_field :fullname %>
 </p>
 <p>
 	<%= form.label :email %>
 	<%= form.text_field :email %>
 </p>
 <p>
 	<%= form.label :message %>
 	<%= form.text_area :message,cols: 50, rows: 5 %>
 </p>
 <p>
 	<%= form.label :status %>
 	<%= form.check_box :status %>
 </p>
 <p>
 	<%= form.submit("UPDATE") %>
 </p>
 
<% end %>
</div>

