<h3 align="center">Comments</h3>
<table align="center" border="1">
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Message</td>
		<td>Status</td>
	
	</tr>
	<% @comment.each do |comment| %>
	<tr>
		<td><%= comment.fullname%></td>
		<td><%= comment.email %></td>
		<td><%= comment.message %></td>
		<td><%= article_publish(comment.status, truthy: "Approved", falsey: "Un-approved") %></td>
	</tr>
	<% end %>	
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">    
   	<%= will_paginate @comment %>
  </ul>
</nav>


