<%= link_to "Log Out",admin_logout_path,method: :delete %>
<h1 align="center">Comments List</h1>
<table align="center" border="1">
	<tr>
		<td>Name</td>
		<td>Email</td>
		<td>Message</td>
		<td>Status</td>
		<td>Action</td>
	
	</tr>
	<% @comment.each do |comment| %>
	<tr>
		<td><%= comment[:fullname] %></td>
		<td><%= comment[:email] %></td>
		<td><%= comment[:message] %></td>
		<td><%= comment[:status] %></td>
		<td>
			<%= link_to "Edit", edit_admin_comment_path(comment) %> 
		</td>

	</tr>
	<% end %>	
</table>
