<%= form_for([:admin,@article]) do |form| %>
<p>
	<%= form.label :title %>
	<%= form.text_field :title %>
</p>
<p>
	<%= form.label :content %>
	<%= form.text_area :content,cols: 50, rows: 5 %>
</p>
<p>
	<%= form.label :is_publish %>
	<%= form.text_field :is_publish %>
</p>
<p>
	<%= form.submit("Update") %>
</p>
<% end %>
