<h3 align="center">Articles<br>
<%= link_to "Create Article", new_admin_article_path %>
</h3>
<center>
<%= form_tag search_article_admin_articles_path, method: :get do %>
   <%= select_tag "Search", options_for_select([ "Title", "Content" ])%>
   <%= text_field_tag(:q) %>
   <%= submit_tag("Search") %>
<% end %>
</center>
<br>
<table align="center" border="1">
	<tr>
		<td>Title</td>
		<td>Content</td>
		<td>Publish</td>
		<td>Created</td>
		<td>Action</td>
	</tr>
	<% @articles.each do |article| %>
	<tr>
		<td><%= article.title%></td>
		<td><%= article.content%></td>
		<td><%= article_publish(article.is_publish, truthy: "Yes", falsey: "No") %></td>
		<td><%= time_data(article.created_at) %></td>
		<td><%= link_to "Edit", edit_admin_article_path(article)%> </td>
	</tr>
	<% end %>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">    
<%= will_paginate @article %>
  </ul>
</nav>
