<h3 align="center">Create New Article</h3>

<%= form_for(:article,url: admin_articles_path) do |f|%>
	<p>
		<%= f.label "tag"%>
		<%= f.select :tags,options_for_select(@tags.collect{ |tag| [tag.name ,tag.id]}),{:include_blank => true},{:multiple => true} %>
	</p>
	<p>
	  <%= f.label :title %>
	  <%= f.text_field :title,:required => true %>
	</p>
	<p>
		<%= f.label :content %>
		<%= f.text_area :content,cols: 30,rows: 5,:required => true %>
	</p>

	<p>
		<%= f.submit("ADD") %>
	</p>
<% end %>
<script>
// Check box style
$("#article_tags").select2({
    theme: "bootstrap"
})
</script>