<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Admin Portal</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item active">
    <%= link_to "User List",admin_users_path,class: "nav-link"%>
      </li>
      <li class="nav-item active">
        <%= link_to "Comment List",admin_articles_path,class: "nav-link" %>
      </li>
      <li class="nav-item active">
    <%= link_to "Aricle List",admin_comments_path,class: "nav-link" %>
      </li>
       </ul>
    <ul class="navbar-nav ml-auto">
      <% unless session[:user_id].nil? %>
          <% @user = User.find(session[:user_id]) %>
          <li class="nav-item active">
           <%=  @user.email %>
          </li> 
      <% end %>
      <li class="nav-item active">
       <%= link_to "Log Out",admin_logout_path,method: :delete,class: "nav-link" %>   
      </li> 
    </ul>   
   

  </div>
</nav>
