<h3 align="center">
	<%= @user.first_name%>&nbsp<%= @user.last_name %> Edit Password
</h3>

<%= form_for([:admin,@user],url: update_password_admin_user_path, method: :patch) do |form| %>
	
	<p>
		<%= form.label :password, "New Password" %>
		<%= form.password_field :password %>
	<p>
		<%= form.label :confirm_password, "Confirm Password" %>
		<%= form.password_field :confirm_password %>
	</p>
		<%=form.submit("Update Password") %>
	</p>
<% end %>