<%= form_for([:admin,@user]) do |form| %>
	<p>
		<%=form.label :first_name %>
		<%=form.text_field :first_name,:required => true %>
	</p>
	<p>
		<%=form.label :last_name %>
		<%=form.text_field :last_name,:required => true %>
	</p>
	<p>
		<%=form.label :about %>
		<%=form.text_area :about,cols: 50, rows: 5,:required => true %>
	</p>
	<p>
		<%=form.label :email %>
		<%=form.email_field :email,:required => true %>
	</p>
		<%= form.label :super_admin %>
		<%= form.check_box :super_admin %>
	<p>
		<%=form.submit("UPDATE") %>
	</p>
<% end %>